@model pcg.Models.VariationModel

@{
    Layout = null; // This line ensures that no layout is used
    ViewData["Title"] = "Add Task";
}



@foreach (System.Data.DataRow dr in ViewBag.Sitelist?.Rows ?? Enumerable.Empty<System.Data.DataRow>())
{
    <h6>Site: @dr["Client"].ToString() @dr["Site"].ToString()</h6>
    <h6>OM: @dr["SiteOM"].ToString()</h6>
    <h6>Site Id: @dr["SiteId"].ToString()</h6>
}

        <form asp-action="AddTask">
          
            <div class="form-group">
                <label asp-for="Task" class="control-label">Task</label>
                <input asp-for="Task" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label">Remarks</label>
                <input asp-for="Remarks" class="form-control" />
            </div>
   @*  <div class="form-group">
        <label asp-for="AssignId" class="control-label">Assign To</label>
        <select asp-for="AssignId" class="form-control" id="assignToSelect">
            @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
            {
                <option value="@dr["Id"].ToString()">@dr["Name"].ToString(): @dr["Position"].ToString()</option>
            }
        </select>
    </div> *@
    
    @*     <div class="dropdown">
            <button class="dropbtn" onclick="myFunction(event)">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                @if (ViewBag.Userlist != null && ViewBag.Userlist.Rows.Count > 0)
                {
                    foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                    {
                        <option value="@dr["Id"].ToString()">@dr["Name"].ToString(): @dr["Position"].ToString()</option>
                    }
                }
            </div>
        </div> *@
    <div class="form-group">
        <label asp-for="AssignId" class="control-label">Assign to</label>
        <div class="searchable-dropdown">
            <input type="text" id="search-input-Assign" class="search-input" placeholder="Search..." onkeyup="filterDropdown('search-input-Assign', 'dropdown-content-Assign')" onclick="toggleDropdown('dropdown-content-Assign')">
            <span class="separator"></span>
            <span class="caret" ></span>
            <div class="dropdown-content" id="dropdown-content-Assign">
                <ul>
                    @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                    {
                        <li value="@dr["Id"].ToString()">@dr["Name"].ToString(): @dr["Position"].ToString()</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
    @*     <label asp-for="SiteSC" class="control-label">Site Coordinator</label> *@
        <div class="searchable-dropdown">
            <input type="text" id="search-input-4" class="search-input" placeholder="Search..." onkeyup="filterDropdown('search-input-4', 'dropdown-content-4')">
            <span class="separator"></span>
            <span class="caret" onclick="toggleDropdown('dropdown-content-4')"></span>
            <div class="dropdown-content" id="dropdown-content-4">
                <ul>

                    @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                    {
                        if (@dr["Position"].ToString() == "Site Coordinator")
                        {
                            <li value="@dr["Id"].ToString()">@dr["Name"].ToString()</li>
                        }
                    }
                </ul>
            </div>
        </div>


    </div>


    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <div class="searchable-dropdown">
            <input type="text" id="search-input-2" class="search-input" placeholder="Search..." onkeyup="filterDropdown('search-input-2', 'dropdown-content-2')" onclick="toggleDropdown('dropdown-content-2')">
            <span class="separator"></span>
            <span class="caret"></span>
            <div class="dropdown-content" id="dropdown-content-2" >
                <ul>
                    <li value="Query">Query</li>
                    <li value="Variation">Variation</li>
                    <li value="Document Request">Document Request</li>
                </ul>
            </div>
        </div>
    </div>

   



  

   @*  to add a dropdown you just need to add number to its input id and put it on the onkeyup, you should also add the same id to the if of drop down content *@

    
       
       
            <div id="query" class="form-group" style="display: block;">
                <label for="queryoption" asp-for="Descquery" class="control-label">Query</label>
                <select id="queryoption" asp-for="Descquery" class="form-control">
                    <option value="Plan">Plan</option>
                    <option value="Contract/Billing">Contract/Billing</option>
                    <option value="Schedule">Schedule</option>
                    <option value="Finishing">Finishing</option>
                </select>
            </div>
            <div id="vary" class="form-group" style="display: none;">
                <label for="varyoption" asp-for="Descvary" class="control-label">Variation</label>
                <select id="varyoption" asp-for="Descvary" class="form-control">
                    <option value="Owner's Instruction">Owner's Instruction</option>
                    <option value="Subcon">Subcon</option>
                </select>
            </div>
            <div id="docreq" class="form-group" style="display: none;">
                <label for="docreqoption" asp-for="Descdocreq" class="control-label">Document Request</label>
                <select id="docreqoption" asp-for="Descdocreq" class="form-control">
                    <option value="Plan">Plan</option>
                    <option value="Contract">Contract</option>
                    <option value="Schedule">Schedule</option>
                    <option value="Finishing">Finishing</option>
                </select>
            </div>
             <div class="form-group">
                @foreach (System.Data.DataRow dr in ViewBag.Sitelist.Rows)
                {
                    <form  method="post">
                        <input type="hidden" name="SiteReqId" value="@dr["SiteId"].ToString()" />
                        <button type="submit" href="@Url.Action("AddTask", "Admin", new { siteId = dr["SiteId"].ToString() }) " class="btn ">Add Task</button>
                    </form>

                    @*BUTTON NOT DISPLAYING BECAUSE OF NESTED FORMS*@

                }
        <button type="submit"  class="btn-primary ">Add Task</button>

            </div>  
        </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/js/dropdown.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $('#assignToSelect').select2({
            placeholder: 'Search for a user...',
            width: '100%'
        });

       
    });

    $(document).ready(function () {
        $('#desc').select2();d
    });

    /* JUST GET THE ID OF THE SELEC AND ADD THIS LINE OF CODE TO INITITATE SELECT 2 */

    $(document).ready(function () {
        $('#queryoption').select2();
    });

    function showoptions() {
        var desc = document.getElementById("desc").value;
        var queryDiv = document.getElementById("query");
        var queryOption = document.getElementById("queryoption");
        var docreqDiv = document.getElementById("docreq");
        var docreqOption = document.getElementById("docreqoption");
        var varyDiv = document.getElementById("vary");
        var varyOption = document.getElementById("varyoption");

        if (desc === "Query") {
            queryDiv.style.display = "block";
            queryOption.value = "Plan";
            docreqDiv.style.display = "none";
            docreqOption.value = "";
            varyDiv.style.display = "none";
            varyOption.value = "";
        }
        else if (desc === "Document Request") {
            docreqDiv.style.display = "block";
            docreqOption.value = "Plan";
            queryDiv.style.display = "none";
            queryOption.value = "";
            varyDiv.style.display = "none";
            varyOption.value = "";
        }
        else if (desc === "Variation") {
            varyDiv.style.display = "block";
            varyOption.value = "Owner's Instruction";
            queryDiv.style.display = "none";
            queryOption.value = "";
            docreqDiv.style.display = "none";
            docreqOption.value = "";
        }
        else {
            queryDiv.style.display = "none";
            docreqDiv.style.display = "none";
            varyDiv.style.display = "none";
            queryOption.value = "";
            docreqOption.value = "";
            varyOption.value = "";
        }
    }


   
</script>


