@model pcg.Models.VariationModel

@{
    ViewData["Title"] = "Task Approval";
}

@* LAST NA GINAGAWA KO DITO IDISPLAY YUNG ID SA MODAL*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="card">
    <div class="top-card">
        <h1>Pending Tasks</h1>

    </div>

    <input class="input" name="text" id="search" type="text" placeholder="Search here..." onkeyup="searchTable()">
        @if (ViewBag.Tasklog.Rows.Count == 0)
        {

        <div class="empty-table-message">
            <p>No pending tasks...</p>
        </div>
        }
        else
        {
    
    <div class="table-container">

      

<table class="custom-table">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Remarks</th> 
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Client/Site</th>
            <th class="text-center text-uppercase">Added By</th>
            <th class="text-center text-uppercase">Date Start</th>
            <th class="text-center text-uppercase">Assignee</th>
            <th class="text-center text-uppercase">Action</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Tasklog.Rows)
        {
            <tr>
                <td class="text-center text-nowrap">@dr["TaskID_Tasks"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Task"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Remarks"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Description"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Client"].ToString() @dr["Site"].ToString()</td>
                <td class="text-center text-nowrap">@dr["AddedBy"].ToString()</td>
                <td class="text-center text-nowrap">@dr["DateStart"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Namea"].ToString()</td>               
                <td>
                    @if (dr["Status"].ToString() == "Waiting")
                    {
                                <div class="action-container">
                                    <form id="approveForm-@dr["TaskID_Tasks"]" class="approve-form" asp-controller="Admin" asp-action="Approve" method="post">
                                        <input type="hidden" name="taskId" value="@dr["TaskID_Tasks"].ToString()" />
                                        <input type="hidden" name="assignId" value="@dr["AssignId"].ToString()" />
                                        <input type="hidden" name="fwdId" value="@dr["ForwardId"].ToString()" />
                                        <button type="button" class="btn btn-primary confirm-button"  data-toggle="modal" data-target="#confirmModal">Approve</button>

                                    </form>
                                    <form id="declineForm-@dr["TaskID_Tasks"]" class="decline-form" asp-controller="Admin" asp-action="Decline" method="post">
                                        <input type="hidden" name="taskId" value="@dr["TaskID_Tasks"].ToString()" />
                                        <input type="hidden" name="assignId" value="@dr["AssignId"].ToString()" />
                                        <input type="hidden" name="fwdId" value="@dr["ForwardId"].ToString()" />
                                        <button type="button" class="btn btn-decline decline-confirm-button">Decline</button>

                                    </form>
                                </div>
                    }
                    else
                    {
                        <a asp-controller="Admin" asp-action="TaskForward" asp-route-taskId="@dr["TaskID_Tasks"].ToString()" class="btn btn-primary btn-block">Forward</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

     
</div>

    <ul class="pagination modal-1">
        <li><a href="#" class="prev" onclick="prevPage()">&laquo</a></li>
        <li id="pageNumbers">
            <!-- Page numbers will be inserted here -->
        </li>

        <li><a href="#" class="next" onclick="nextPage()">&raquo;</a></li>
    </ul><br>
    }
</div>





<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to approve Task #<span>@ViewBag.SelectedTaskId</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-decline" data-dismiss="modal">Cancel</button>
                <button type="button" id="confirm" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>


 <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="declineModalLabel">Confirm Decline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to decline this task?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-decline" data-dismiss="modal">Cancel</button>
                <button type="button" id="confirmDecline" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
</div> 

<script>
    $(document).ready(function() {
        $(".confirm-button").click(function() {
            var form = $(this).closest(".approve-form");
            $("#confirm").off("click").on("click", function() {
                form.submit();
            });
            $("#confirmModal").modal("show");
        });

        $(".decline-confirm-button").click(function() {
            var form = $(this).closest(".decline-form");
            $("#confirmDecline").off("click").on("click", function() {
                form.submit();
            });
            $("#declineModal").modal("show");
        });
    });
</script>
